.slide{
    padding-top: 90px;
    .slide-header{
        font-size:32px;
        font-weight: 700;
        padding-bottom: 32px;
    }
}
.swiper {
    .swiper-wrapper{
        padding-bottom: 20px;
    }
    .swiper-button-prev, .swiper-button-next{
        color: #fff;
    }
}
    
.swiper-slide {
    text-align: center;
    background: rgb(128, 128, 128);
    display: block;
    width: 100%;
    font-size: 18px;
    object-fit: cover;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
    }
}
.index{
    position: absolute;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    bottom: -20px;
    right: 10px;
}