.slide{
    padding-top: 80px;
    .slide-header{
        font-size:32px;
        font-weight: 700;
        padding-bottom: 32px;
    }
}
.swiper {
    min-height: 160px;
  }

.swiper-slide {
    text-align: center;
    background: rgb(128, 128, 128);
    display: block;
    width: 100%;
    font-size: 18px;
    min-height: 140px;
    object-fit: cover;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
.index{
    position: absolute;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    bottom: -20px;
    right: 10px;
}