*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8102591378348214) 100%
  );
}
@import "header";
@import "banner";
@import "slider";
@import "watch";
@import "topmovie";
@import "toptv";
@import "video";

